DATABASE_URL=postgresql+asyncpg://username:password@host:5432/database
SECRET_KEY=copy_the_same_secret_used_by_your_user_service
ALGORITHM=HS256
INVENTORY_SERVICE_URL=http://127.0.0.1:8003/products
PAYMENT_SERVICE_URL=http://127.0.0.1:8001/payments